EasyAppointmentSystemCustomerTerminalClient/src/META-INF/wsdl/localhost_8080/customerAppointmentWebService/CustomerAppointmentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="customerAppointmentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/customerAppointmentWebService/CustomerAppointmentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllBusinessCategories">
<part name="parameters" element="tns:retrieveAllBusinessCategories"/>
</message>
<message name="retrieveAllBusinessCategoriesResponse">
<part name="parameters" element="tns:retrieveAllBusinessCategoriesResponse"/>
</message>
<message name="retrieveCustomerAppointments">
<part name="parameters" element="tns:retrieveCustomerAppointments"/>
</message>
<message name="retrieveCustomerAppointmentsResponse">
<part name="parameters" element="tns:retrieveCustomerAppointmentsResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="registerCustomer">
<part name="parameters" element="tns:registerCustomer"/>
</message>
<message name="registerCustomerResponse">
<part name="parameters" element="tns:registerCustomerResponse"/>
</message>
<message name="CustomerAlreadyExistsException">
<part name="fault" element="tns:CustomerAlreadyExistsException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="retrieveServiceProviderAppointments">
<part name="parameters" element="tns:retrieveServiceProviderAppointments"/>
</message>
<message name="retrieveServiceProviderAppointmentsResponse">
<part name="parameters" element="tns:retrieveServiceProviderAppointmentsResponse"/>
</message>
<message name="ServiceProviderNotFoundException">
<part name="fault" element="tns:ServiceProviderNotFoundException"/>
</message>
<message name="retrieveServiceProvidersByCategoryIdAndCity">
<part name="parameters" element="tns:retrieveServiceProvidersByCategoryIdAndCity"/>
</message>
<message name="retrieveServiceProvidersByCategoryIdAndCityResponse">
<part name="parameters" element="tns:retrieveServiceProvidersByCategoryIdAndCityResponse"/>
</message>
<message name="BusinessCategoryNotFoundException">
<part name="fault" element="tns:BusinessCategoryNotFoundException"/>
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment"/>
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse"/>
</message>
<message name="CreateNewAppointmentEntityException">
<part name="fault" element="tns:CreateNewAppointmentEntityException"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<message name="UnauthorisedOperationException">
<part name="fault" element="tns:UnauthorisedOperationException"/>
</message>
<message name="rateServiceProvider">
<part name="parameters" element="tns:rateServiceProvider"/>
</message>
<message name="rateServiceProviderResponse">
<part name="parameters" element="tns:rateServiceProviderResponse"/>
</message>
<message name="retrieveServiceProviderByProviderId">
<part name="parameters" element="tns:retrieveServiceProviderByProviderId"/>
</message>
<message name="retrieveServiceProviderByProviderIdResponse">
<part name="parameters" element="tns:retrieveServiceProviderByProviderIdResponse"/>
</message>
<message name="retrieveAppointmentByAppointmentNo">
<part name="parameters" element="tns:retrieveAppointmentByAppointmentNo"/>
</message>
<message name="retrieveAppointmentByAppointmentNoResponse">
<part name="parameters" element="tns:retrieveAppointmentByAppointmentNoResponse"/>
</message>
<portType name="CustomerAppointmentWebService">
<operation name="retrieveAllBusinessCategories">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveAllBusinessCategoriesRequest" message="tns:retrieveAllBusinessCategories"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveAllBusinessCategoriesResponse" message="tns:retrieveAllBusinessCategoriesResponse"/>
</operation>
<operation name="retrieveCustomerAppointments">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveCustomerAppointmentsRequest" message="tns:retrieveCustomerAppointments"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveCustomerAppointmentsResponse" message="tns:retrieveCustomerAppointmentsResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveCustomerAppointments/Fault/CustomerNotFoundException"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveCustomerAppointments/Fault/InvalidLoginException"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/customerLogin/Fault/InvalidLoginException"/>
</operation>
<operation name="registerCustomer">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/registerCustomerRequest" message="tns:registerCustomer"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/registerCustomerResponse" message="tns:registerCustomerResponse"/>
<fault message="tns:CustomerAlreadyExistsException" name="CustomerAlreadyExistsException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/registerCustomer/Fault/CustomerAlreadyExistsException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/registerCustomer/Fault/InputDataValidationException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/registerCustomer/Fault/UnknownPersistenceException"/>
</operation>
<operation name="retrieveServiceProviderAppointments">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProviderAppointmentsRequest" message="tns:retrieveServiceProviderAppointments"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProviderAppointmentsResponse" message="tns:retrieveServiceProviderAppointmentsResponse"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProviderAppointments/Fault/ServiceProviderNotFoundException"/>
</operation>
<operation name="retrieveServiceProvidersByCategoryIdAndCity">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProvidersByCategoryIdAndCityRequest" message="tns:retrieveServiceProvidersByCategoryIdAndCity"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProvidersByCategoryIdAndCityResponse" message="tns:retrieveServiceProvidersByCategoryIdAndCityResponse"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProvidersByCategoryIdAndCity/Fault/ServiceProviderNotFoundException"/>
<fault message="tns:BusinessCategoryNotFoundException" name="BusinessCategoryNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProvidersByCategoryIdAndCity/Fault/BusinessCategoryNotFoundException"/>
</operation>
<operation name="addAppointment">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/addAppointmentRequest" message="tns:addAppointment"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/addAppointmentResponse" message="tns:addAppointmentResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/addAppointment/Fault/CustomerNotFoundException"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/addAppointment/Fault/InvalidLoginException"/>
<fault message="tns:CreateNewAppointmentEntityException" name="CreateNewAppointmentEntityException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/addAppointment/Fault/CreateNewAppointmentEntityException"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/cancelAppointment/Fault/InvalidLoginException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/cancelAppointment/Fault/CustomerNotFoundException"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/cancelAppointment/Fault/AppointmentNotFoundException"/>
<fault message="tns:UnauthorisedOperationException" name="UnauthorisedOperationException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/cancelAppointment/Fault/UnauthorisedOperationException"/>
</operation>
<operation name="rateServiceProvider">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/rateServiceProviderRequest" message="tns:rateServiceProvider"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/rateServiceProviderResponse" message="tns:rateServiceProviderResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/rateServiceProvider/Fault/InvalidLoginException"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/rateServiceProvider/Fault/ServiceProviderNotFoundException"/>
</operation>
<operation name="retrieveServiceProviderByProviderId">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProviderByProviderIdRequest" message="tns:retrieveServiceProviderByProviderId"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProviderByProviderIdResponse" message="tns:retrieveServiceProviderByProviderIdResponse"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveServiceProviderByProviderId/Fault/ServiceProviderNotFoundException"/>
</operation>
<operation name="retrieveAppointmentByAppointmentNo">
<input wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveAppointmentByAppointmentNoRequest" message="tns:retrieveAppointmentByAppointmentNo"/>
<output wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveAppointmentByAppointmentNoResponse" message="tns:retrieveAppointmentByAppointmentNoResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/CustomerAppointmentWebService/retrieveAppointmentByAppointmentNo/Fault/AppointmentNotFoundException"/>
</operation>
</portType>
<binding name="CustomerAppointmentWebServicePortBinding" type="tns:CustomerAppointmentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllBusinessCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="registerCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerAlreadyExistsException">
<soap:fault name="CustomerAlreadyExistsException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
</operation>
<operation name="retrieveServiceProviderAppointments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveServiceProvidersByCategoryIdAndCity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
<fault name="BusinessCategoryNotFoundException">
<soap:fault name="BusinessCategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="addAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
<fault name="CreateNewAppointmentEntityException">
<soap:fault name="CreateNewAppointmentEntityException" use="literal"/>
</fault>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
<fault name="UnauthorisedOperationException">
<soap:fault name="UnauthorisedOperationException" use="literal"/>
</fault>
</operation>
<operation name="rateServiceProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveServiceProviderByProviderId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentByAppointmentNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="customerAppointmentWebService">
<port name="CustomerAppointmentWebServicePort" binding="tns:CustomerAppointmentWebServicePortBinding">
<soap:address location="http://localhost:8080/customerAppointmentWebService/CustomerAppointmentWebService"/>
</port>
</service>
</definitions>